/*  Color Theme */

/* Login Footer Background */
.bg-gray-4 {
    background: #1A1A1A;
}
.text-gray-4 {
    color: #1A1A1A;
}

/* Login Body Background */
.bg-gray-3 {
    background: #707070;
}
.text-gray-3 {
    color: #707070;
}

.bg-gray-2 {
    background: #757575;
}
.text-gray-2 {
    color: #757575;
}

.bg-gray-1 {
    background: #A2A2A2;
}
.text-gray-1 {
    color: #A2A2A2;
}

.bg-black {
    background: #000000;
}
.text-black {
    color: #000000;
}

.bg-white {
    background: #FFFFFF;
}
.text-white {
    color: #FFFFFF;
}

.bg-red {
    background: #E50D0D;
}
.text-red {
    color: #E50D0D;
}

.bg-red-dark {
    background: #AE2727;
}
.text-red-dark {
    color: #AE2727;
}




/* General Layout Styling */
body {
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* Main Body Layout Styling */
.body-main #container,
.body-main #container > .d-flex {
    min-height: 500px;
    min-height: calc(100vh - 120px);
}

@media(min-width: 992px){
    .body-main .sidebar {
        width: 400px;
    }
}

/* Login Body Layout Styling */
.body-login footer .logo-wrapper {
    width: 300px;
}
.body-login .footer-bottom {
    border-top: solid 1px #FFF;
}
.body-login footer .navbar {
    padding: 0;
}
.body-login #content {
    min-height: 100%;
    min-height: 80vh;
    min-height: calc(100vh - 211px);
}